<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filtros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid fixed>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <div class="cover"></div>
        <div class="card-title">Festa</div>

      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <div class="cover"></div>
        <div class="card-title">Cultura</div>

      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <div class="cover"></div>
        <div class="card-title">Workshop</div>

      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <div class="cover"></div>
        <div class="card-title">Palestra</div>

      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <div class="cover"></div>
        <div class="card-title">Encontros</div>

      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <div class="cover"></div>
        <div class="card-title">Outros</div>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
